<cfoutput>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
			#renderView( view="boats/editor", args={title="Create boat"} )#
			</div>
		</div>
	</div>
</div>
</cfoutput>